# Entorno virtual de Python
.venv/
venv/
ENV/

# Archivos de caché y artefactos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Archivos de distribución
build/
dist/
*.egg-info/

# Archivos de entorno - ¡NO SUBIR A GIT!
.env

# Archivos del editor y sistema operativo
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
